@charset "UTF-8";

@font-face {
  font-family: Archangelsk;
  font-display: swap;
  src: url("../fonts/Archangelsk.woff2") format("woff2"), url("../fonts/Archangelsk.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-inst:before {
  content: "\e901";
}

._icon-twitch:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

._icon-vk:before {
  content: "\e904";
}

._icon-youtube:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  color: #000;
  font-family: Archangelsk;
  line-height: 1.1;
}

.blue {
  color: #52BEDC;
}

.header {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.25rem;
}

.header__social-link {
  font-size: 1.875rem;
  color: #000;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  background-color: #fff;
}

.footer__main {
  padding: 0.8125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.footer__license {
  display: inline-block;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -2px 0 transparent;
          box-shadow: inset 0 -2px 0 transparent;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  padding-bottom: 0.125rem;
}

.footer__policy {
  display: inline-block;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -2px 0 transparent;
          box-shadow: inset 0 -2px 0 transparent;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  padding-bottom: 0.125rem;
}

.footer__bottom {
  padding: 0.8125rem 0;
  text-align: center;
  background-color: #000;
}

.footer__copy {
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.1;
}

.more {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 8;
}

.more__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.more__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/More/more-info_bg.svg") no-repeat center/cover;
  padding: 4.375rem;
  max-width: 39rem;
}

.more__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.more__btn {
  display: inline-block;
  padding: 1.25rem;
  max-width: 17rem;
  width: 100%;
  background-color: #000;
  color: #F8F200;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 166.67%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.top__slider {
  position: relative;
}

.no-webp .top__slide{
  background: url("../img/Slider/bg-one.jpg") no-repeat center/cover; }

.top__slide {
  height: 100vh;
}

.no-webp .top__slide:nth-child(2){
  background-image: url("../img/Slider/bg-two.jpg"); }

.no-webp .top__slide:nth-child(3){
  background-image: url("../img/Slider/bg-three.jpg"); }

.change {
  padding: 4.375rem 0;
}

.change__title {
  max-width: 62.25rem;
}

.change__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.change__descr {
  color: #777;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 188.889%;
  max-width: 59.5rem;
}

.change__descr:not(:last-child) {
  margin-bottom: 4.375rem;
}

.items-change {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 196px 196px;
  grid-template-rows: 196px 196px;
  gap: 2rem;
}

.items-change__img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.items-change__img_second {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  grid-column: 2/2;
}

.action {
  padding-top: 5.3125rem;
  padding-bottom: 4.375rem;
  position: relative;
  color: #fff;
  background-color: #000;
}

.no-webp .action::before{
  background: url("../img/Action/action-decor.png") no-repeat center/cover; }

.action::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
}

.action__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.action__top:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.action__icon {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.action__title {
  color: #fff;
}

.action__descr {
  font-size: 1.125rem;
  line-height: 188.889%;
}

.action__descr:not(:last-child) {
  margin-bottom: 3.125rem;
}

.action__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.action__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action__img_xbox {
  margin-right: -120px;
  z-index: 1;
}

.form__input {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 0.9375rem 0 0.9375rem;
  max-width: 28.75rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: border-bottom 0.3s ease;
  transition: border-bottom 0.3s ease;
}

.form__input:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form__input::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
  -webkit-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

.form__input::-moz-placeholder {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
  -moz-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

.form__input:-ms-input-placeholder {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
  -ms-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

.form__input::-ms-input-placeholder {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
  -ms-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

.form__input::placeholder {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
  -webkit-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

.form__input:focus {
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.form__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__input:focus::-moz-placeholder {
  color: transparent;
}

.form__input:focus:-ms-input-placeholder {
  color: transparent;
}

.form__input:focus::-ms-input-placeholder {
  color: transparent;
}

.form__input:focus::placeholder {
  color: transparent;
}

.form__elem {
  padding: 2.5rem 8.4375rem;
  border: 1px dashed #777;
  text-align: center;
  display: block;
  cursor: pointer;
}

.form__elem:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.form__file {
  display: none;
}

.form__file-label {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
  display: block;
  cursor: pointer;
  width: 186px;
  margin-bottom: 0.4375rem;
}

.form__info {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 300;
}

.form__btn {
  padding: 1.25rem 3.125rem;
  background-color: #F8F200;
  color: #000;
  font-size: 1.125rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form__btn:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 0.75rem;
}

.form__checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.form__custom-checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: transparent;
  border: 1px solid #777;
  margin-right: 0.625rem;
  vertical-align: sub;
  position: relative;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 300;
}

.form__custom-checkbox::before {
  content: "";
  display: inline-block;
  background-image: url("../img/Action/arrow-sign.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form .form__checkbox:checked + .form__custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.screen {
  padding-top: 8.75rem;
  padding-bottom: 4.375rem;
  background-color: #F8F200;
  position: relative;
  font-size: 1.125rem;
}

.no-webp .screen::before{
  background: url("../img/Screen/screen-decor.png") no-repeat center/cover; }

.screen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
}

.screen__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.screen__pictures {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.screen__picture {
  max-width: 39rem;
  width: 100%;
}

.screen__picture:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.screen__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.screen__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.screen__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.screen__descr {
  color: #000;
  line-height: 188.889%;
}

.screen__descr:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.screen__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.screen__list:not(:last-child) {
  margin-bottom: 2.5rem;
}

.screen__list-item {
  color: #000;
  line-height: 1.1;
  padding-left: 2.625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  position: relative;
}

.screen__list-item::before {
  content: "";
  background: url("../img/Screen/01.svg") no-repeat center/cover;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 32px;
}

.screen .screen__list-item:nth-child(2)::before {
  background-image: url("../img/Screen/02.svg");
}

.screen .screen__list-item:nth-child(3)::before {
  background-image: url("../img/Screen/03.svg");
}

.screen__btn {
  display: inline-block;
  color: #F8F200;
  font-weight: 700;
  background-color: #000;
  padding: 1.25rem 3.125rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.buy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.buy__image img {
  width: 50vw;
  height: 100%;
}

.buy__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 4.375rem 2rem;
  background-color: #000;
  color: #fff;
}

.buy__title {
  color: #fff;
}

.buy__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.buy__sub-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.buy__sub-title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.buy__sub-title_margin:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.buy__details-list {
  margin-bottom: 4.375rem;
}

.buy__details-item {
  padding-left: 2.625rem;
  font-size: 1.125rem;
  line-height: 1.1;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  position: relative;
}

.buy__details-item::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/Buy/01.svg") no-repeat center/cover;
}

.buy__details-item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.buy .buy__details-item:nth-child(2)::before {
  background-image: url("../img/Buy/02.svg");
}

.buy .buy__details-item:nth-child(3)::before {
  background-image: url("../img/Buy/03.svg");
}

.buy__platforms {
  max-width: 20rem;
}

.buy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2.8125rem;
}

.buy__list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
}

.buy__list-link img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 81.875em) {
  .title {
    font-size: 3.875rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__social {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}

@media (min-width: 64em) {
  .screen__logo_1 {
    width: 5rem;
  }

  .screen__logo_3 {
    width: 19.9375rem;
  }
}

@media (max-width: 75em) {
  .buy__image {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }

  .buy__image img {
    width: 35vw;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .buy__info {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

@media (max-width: 64em) {
  .footer__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 3.125rem;
  }

  .footer__logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .items-change {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 196px 424px;
    grid-template-rows: 196px 424px;
  }

  .items-change__img {
    -o-object-fit: unset;
       object-fit: unset;
  }

  .items-change__img_first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }

  .items-change__img_second {
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .items-change__img_third {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }

  .action__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .action__icon {
    -ms-flex-preferred-size: 8.25rem;
        flex-basis: 8.25rem;
    max-width: 8.25rem;
  }

  .action__images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .action__img {
    max-width: 320px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .action__img_xbox {
    margin-bottom: -68px;
    max-width: 320px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: unset;
  }

  .form__elem {
    padding: 3.125rem 8.4375rem;
  }

  .form__file-label {
    width: 11.625rem;
  }

  .form__info {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .screen__logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .buy__image img {
    width: 32vw;
  }
}

@media (max-width: 64em) and (max-width: 20em) {
  .more__info {
    padding-top: 1.875rem;
  }

  .more__info {
    padding-right: 0.75rem;
  }

  .more__info {
    padding-bottom: 1.875rem;
  }

  .more__info {
    padding-left: 0.75rem;
  }

  .change__descr {
    font-size: 1rem;
  }

  .screen {
    font-size: 1rem;
  }

  .buy__info {
    padding-top: 2.5rem;
  }

  .buy__info {
    padding-left: 0.75rem;
  }

  .buy__info {
    padding-right: 0.75rem;
  }

  .buy__sub-title {
    font-size: 1.25rem;
  }

  .buy__details-list {
    margin-bottom: 2.5rem;
  }

  .buy__details-item {
    font-size: 1rem;
  }

  .buy__details-item::before {
    width: 1.5rem;
  }

  .buy__details-item::before {
    height: 1.5rem;
  }
}

@media (max-width: 25em) {
  .buy__list {
    row-gap: 2.5rem;
  }

  .buy__list-item {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

@media (max-width: 25em) and (max-width: 20em) {
  .buy__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }

  .header {
    padding-top: 0.9375rem;
  }

  .header {
    padding-bottom: 0.9375rem;
  }

  .header__social {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .screen__logo_1 {
    width: 2.6875rem;
  }

  .screen__logo_3 {
    width: 10.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 0.9375rem;
  }

  .items-change {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .items-change__img_first {
    grid-column: unset;
    grid-row: unset;
  }

  .items-change__img_second {
    grid-column: unset;
    grid-row: unset;
  }

  .items-change__img_third {
    grid-column: unset;
    grid-row: unset;
  }

  .action__inner {
    -webkit-column-gap: unset;
       -moz-column-gap: unset;
            column-gap: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .action__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .action__images {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .form__input {
    max-width: unset;
  }

  .form__file-label {
    width: unset;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .header__container {
    row-gap: 0.625rem;
  }

  .header__social-link {
    font-size: 1.5625rem;
  }
}

@media (max-width: 40.625em) {
  .screen__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 2.5rem;
  }

  .screen__logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}

@media (max-width: 37.5em) {
  .buy__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .buy__image img {
    width: 100%;
  }
}

@media (max-width: 36.875em) {
  .action__img {
    margin-left: -40px;
  }
}

@media (max-width: 29.99875em) {
  .more__info {
    background-image: url("../img/More/more-info_bg-small.svg");
  }

  .more__btn {
    max-width: 15.25rem;
    padding: 0.625rem;
  }

  .action__descr {
    font-size: 1rem;
  }

  .form__input::-webkit-input-placeholder {
    font-size: 1rem;
  }

  .form__input::-moz-placeholder {
    font-size: 1rem;
  }

  .form__input:-ms-input-placeholder {
    font-size: 1rem;
  }

  .form__input::-ms-input-placeholder {
    font-size: 1rem;
  }

  .form__input::placeholder {
    font-size: 1rem;
  }

  .form__input {
    font-size: 1rem;
  }

  .form__elem {
    padding: 2.5rem 5.9375rem;
  }

  .form__elem {
    padding: 3.125rem 4.0625rem;
  }

  .form__file-label {
    font-size: 1rem;
  }

  .form__btn {
    font-size: 1rem;
  }
}

@media (max-width: 23.75em) {
  .screen__logo_2 {
    width: 3.625rem;
  }
}

@media (max-width: 21.875em) {
  .screen__picture {
    width: 18.5rem;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (font-size: clamp( 1.875rem , 1.2285353535rem  +  3.2323232323vw , 3.875rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.2285353535rem  +  3.2323232323vw , 3.875rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2285353535rem  +  3.2323232323vw , 3.875rem )) {
    .title {
      font-size: calc(1.875rem + 2 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .header {
      padding-top: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .header {
      padding-top: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .header {
      padding-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.836489899rem  +  0.5050505051vw , 1.25rem )) {
    .header {
      padding-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , 1.259469697rem  +  1.5151515152vw , 2.5rem )) or (column-gap: clamp( 1.5625rem , 1.259469697rem  +  1.5151515152vw , 2.5rem ))) {
    .header__social {
      -webkit-column-gap: clamp( 1.5625rem , 1.259469697rem  +  1.5151515152vw , 2.5rem );
         -moz-column-gap: clamp( 1.5625rem , 1.259469697rem  +  1.5151515152vw , 2.5rem );
              column-gap: clamp( 1.5625rem , 1.259469697rem  +  1.5151515152vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , 1.259469697rem  +  1.5151515152vw , 2.5rem )) or (column-gap: clamp( 1.5625rem , 1.259469697rem  +  1.5151515152vw , 2.5rem ))) {
    .header__social {
      -webkit-column-gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 61.875);
         -moz-column-gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 61.875);
              column-gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 61.875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .header__container {
    row-gap: 1.25rem;
  }

  .header__social-link {
    font-size: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (row-gap: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem )) {
    .header__container {
      row-gap: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , 0.1785714286rem  +  2.2321428571vw , 1.25rem )) {
    .header__container {
      row-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 28);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.3392857143rem  +  1.1160714286vw , 1.875rem )) {
    .header__social-link {
      font-size: clamp( 1.5625rem , 1.3392857143rem  +  1.1160714286vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.3392857143rem  +  1.1160714286vw , 1.875rem )) {
    .header__social-link {
      font-size: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 28);
    }
}
}

@media (max-width: 64em) and (min-width: 64em) {
  .more__info {
    padding-top: 4.375rem;
  }

  .more__info {
    padding-right: 4.375rem;
  }

  .more__info {
    padding-bottom: 4.375rem;
  }

  .more__info {
    padding-left: 4.375rem;
  }

  .change__descr {
    font-size: 1.125rem;
  }

  .screen {
    font-size: 1.125rem;
  }

  .buy__info {
    padding-top: 4.375rem;
  }

  .buy__info {
    padding-left: 2rem;
  }

  .buy__info {
    padding-right: 2rem;
  }

  .buy__sub-title {
    font-size: 1.5rem;
  }

  .buy__details-list {
    margin-bottom: 4.375rem;
  }

  .buy__details-item {
    font-size: 1.125rem;
  }

  .buy__details-item::before {
    width: 2rem;
  }

  .buy__details-item::before {
    height: 2rem;
  }
}

@media (max-width: 64em) and (min-width: 20em) and (max-width: 64em) {
@supports (padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 4.375rem )) {
    .more__info {
      padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 4.375rem )) {
    .more__info {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 44);
    }
}

@supports (padding-right: clamp( 0.75rem , -0.8977272727rem  +  8.2386363636vw , 4.375rem )) {
    .more__info {
      padding-right: clamp( 0.75rem , -0.8977272727rem  +  8.2386363636vw , 4.375rem );
    }
}

@supports not (padding-right: clamp( 0.75rem , -0.8977272727rem  +  8.2386363636vw , 4.375rem )) {
    .more__info {
      padding-right: calc(0.75rem + 3.625 * (100vw - 20rem) / 44);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 4.375rem )) {
    .more__info {
      padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 4.375rem )) {
    .more__info {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 44);
    }
}

@supports (padding-left: clamp( 0.75rem , -0.8977272727rem  +  8.2386363636vw , 4.375rem )) {
    .more__info {
      padding-left: clamp( 0.75rem , -0.8977272727rem  +  8.2386363636vw , 4.375rem );
    }
}

@supports not (padding-left: clamp( 0.75rem , -0.8977272727rem  +  8.2386363636vw , 4.375rem )) {
    .more__info {
      padding-left: calc(0.75rem + 3.625 * (100vw - 20rem) / 44);
    }
}

@supports (font-size: clamp( 1rem , 0.9431818182rem  +  0.2840909091vw , 1.125rem )) {
    .change__descr {
      font-size: clamp( 1rem , 0.9431818182rem  +  0.2840909091vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9431818182rem  +  0.2840909091vw , 1.125rem )) {
    .change__descr {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 44);
    }
}

@supports (font-size: clamp( 1rem , 0.9431818182rem  +  0.2840909091vw , 1.125rem )) {
    .screen {
      font-size: clamp( 1rem , 0.9431818182rem  +  0.2840909091vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9431818182rem  +  0.2840909091vw , 1.125rem )) {
    .screen {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 44);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.6477272727rem  +  4.2613636364vw , 4.375rem )) {
    .buy__info {
      padding-top: clamp( 2.5rem , 1.6477272727rem  +  4.2613636364vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.6477272727rem  +  4.2613636364vw , 4.375rem )) {
    .buy__info {
      padding-top: calc(2.5rem + 1.875 * (100vw - 20rem) / 44);
    }
}

@supports (padding-left: clamp( 0.75rem , 0.1818181818rem  +  2.8409090909vw , 2rem )) {
    .buy__info {
      padding-left: clamp( 0.75rem , 0.1818181818rem  +  2.8409090909vw , 2rem );
    }
}

@supports not (padding-left: clamp( 0.75rem , 0.1818181818rem  +  2.8409090909vw , 2rem )) {
    .buy__info {
      padding-left: calc(0.75rem + 1.25 * (100vw - 20rem) / 44);
    }
}

@supports (padding-right: clamp( 0.75rem , 0.1818181818rem  +  2.8409090909vw , 2rem )) {
    .buy__info {
      padding-right: clamp( 0.75rem , 0.1818181818rem  +  2.8409090909vw , 2rem );
    }
}

@supports not (padding-right: clamp( 0.75rem , 0.1818181818rem  +  2.8409090909vw , 2rem )) {
    .buy__info {
      padding-right: calc(0.75rem + 1.25 * (100vw - 20rem) / 44);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1363636364rem  +  0.5681818182vw , 1.5rem )) {
    .buy__sub-title {
      font-size: clamp( 1.25rem , 1.1363636364rem  +  0.5681818182vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1363636364rem  +  0.5681818182vw , 1.5rem )) {
    .buy__sub-title {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 44);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.6477272727rem  +  4.2613636364vw , 4.375rem )) {
    .buy__details-list {
      margin-bottom: clamp( 2.5rem , 1.6477272727rem  +  4.2613636364vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.6477272727rem  +  4.2613636364vw , 4.375rem )) {
    .buy__details-list {
      margin-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 44);
    }
}

@supports (font-size: clamp( 1rem , 0.9431818182rem  +  0.2840909091vw , 1.125rem )) {
    .buy__details-item {
      font-size: clamp( 1rem , 0.9431818182rem  +  0.2840909091vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9431818182rem  +  0.2840909091vw , 1.125rem )) {
    .buy__details-item {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 44);
    }
}

@supports (width: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2rem )) {
    .buy__details-item::before {
      width: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2rem );
    }
}

@supports not (width: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2rem )) {
    .buy__details-item::before {
      width: calc(1.5rem + 0.5 * (100vw - 20rem) / 44);
    }
}

@supports (height: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2rem )) {
    .buy__details-item::before {
      height: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2rem );
    }
}

@supports not (height: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2rem )) {
    .buy__details-item::before {
      height: calc(1.5rem + 0.5 * (100vw - 20rem) / 44);
    }
}
}

@media (min-width: 20em) and (max-width: 64em) {
@supports (width: clamp( 2.6875rem , 1.6363636364rem  +  5.2556818182vw , 5rem )) {
    .screen__logo_1 {
      width: clamp( 2.6875rem , 1.6363636364rem  +  5.2556818182vw , 5rem );
    }
}

@supports not (width: clamp( 2.6875rem , 1.6363636364rem  +  5.2556818182vw , 5rem )) {
    .screen__logo_1 {
      width: calc(2.6875rem + 2.3125 * (100vw - 20rem) / 44);
    }
}

@supports (width: clamp( 10.9375rem , 6.8465909091rem  +  20.4545454545vw , 19.9375rem )) {
    .screen__logo_3 {
      width: clamp( 10.9375rem , 6.8465909091rem  +  20.4545454545vw , 19.9375rem );
    }
}

@supports not (width: clamp( 10.9375rem , 6.8465909091rem  +  20.4545454545vw , 19.9375rem )) {
    .screen__logo_3 {
      width: calc(10.9375rem + 9 * (100vw - 20rem) / 44);
    }
}
}

@media (max-width: 25em) and (min-width: 25em) {
  .buy__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}

@media (max-width: 25em) and (min-width: 20em) and (max-width: 25em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -5.3125rem  +  31.25vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -5.3125rem  +  31.25vw , 2.5rem ))) {
    .buy__list {
      -webkit-column-gap: clamp( 0.9375rem , -5.3125rem  +  31.25vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -5.3125rem  +  31.25vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -5.3125rem  +  31.25vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -5.3125rem  +  31.25vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -5.3125rem  +  31.25vw , 2.5rem ))) {
    .buy__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 5);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 5);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 5);
    }
}
}

@media (any-hover: hover) {
  .header__social-link:hover {
    color: #52BEDC;
  }

  .footer__license:hover {
    -webkit-box-shadow: inset 0 -2px 0 #000;
            box-shadow: inset 0 -2px 0 #000;
  }

  .footer__policy:hover {
    -webkit-box-shadow: inset 0 -2px 0 #000;
            box-shadow: inset 0 -2px 0 #000;
  }

  .more__btn:hover {
    background-color: rgb(255, 165, 0);
    color: #fff;
  }

  .more__btn:active {
    position: relative;
    top: 1px;
  }

  .action__icon:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .form__file-label:hover {
    text-decoration: underline;
  }

  .form__btn:hover {
    background-color: #fff;
    color: #000;
  }

  .screen__btn:hover {
    background-color: rgb(255, 165, 0);
    color: #fff;
  }

  .screen__btn:active {
    position: relative;
    top: 1px;
  }

  .buy__list-link img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.webp .top__slide{ background: url(../img/Slider/bg-one.webp) no-repeat center/cover; }

.webp .top__slide:nth-child(2){ background-image: url(../img/Slider/bg-two.webp); }

.webp .top__slide:nth-child(3){ background-image: url(../img/Slider/bg-three.webp); }

.webp .action::before{ background: url(../img/Action/action-decor.webp) no-repeat center/cover; }

.webp .screen::before{ background: url(../img/Screen/screen-decor.webp) no-repeat center/cover; }